<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
  <h4>Danh sách người dùng</h4>
  <div>
    <a class="btn btn-outline-secondary me-2" [routerLink]="['/admin/users/credentials']">
      <i class="bi bi-key"></i> Quản lý tài khoản
    </a>
    <a class="btn btn-primary" [routerLink]="['/admin/users/create']">
      <i class="bi bi-plus-circle"></i> Thêm mới
    </a>
  </div>
</div>


  <div *ngIf="loading">Đang tải...</div>

  <table class="table table-bordered" *ngIf="!loading">
    <thead class="table-light">
      <tr>
        <th>ID</th>
        <th>Tài khoản</th>
        <th>Họ tên</th>
        <th>Email</th>
        <th>Điện thoại</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.fullName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>
          <a [routerLink]="['/admin/users', user.id]" class="btn btn-sm btn-info me-2">
            <i class="bi bi-eye"></i>
          </a>
          <a [routerLink]="['/admin/users', user.id, 'edit']" class="btn btn-sm btn-warning">
            <i class="bi bi-pencil"></i>
          </a>
          <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger ms-2">
            <i class="bi bi-trash"></i>
        </button>
        </td>
      </tr>
    </tbody>

      <nav *ngIf="totalPages > 1">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button class="page-link" (click)="previousPage()">Trước</button>
      </li>

      <li
        class="page-item"
        *ngFor="let page of [].constructor(totalPages); let i = index"
        [class.active]="currentPage === i + 1"
      >
        <button class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</button>
      </li>

      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button class="page-link" (click)="nextPage()">Tiếp</button>
      </li>
    </ul>
  </nav>

  </table>
</div>
